

<tr class="post">
	
	<td>
	
		<table>
			<hr>
			
			<tbody class="post-image-container">
				
				<tr>
					<td valign="left">
						<a href={{reference}} class="post-title"><font size="5">{{title}}</font></a>
					</td>
				</tr>
				
				<tr>
					<td>
						<br>
					</td>
				</tr>
				
				<tr>
					<td><a href={{image1}}><img src={{image1}} alt="image1" class="post-image"></a></td>
					<td><a href={{image2}}><img src={{image2}} alt="image2" class="post-image"></a></td>
					<td><a href={{image3}}><img src={{image3}} alt="image3" class="post-image"></a></td>
				</tr>
				
				<tr>
					<td valign="left" class="post-image-description">
						<br>
						<font size="4">{{description}}</font>
						<br>
					</td>
				</tr>
				
			</tbody>
			
		</table>
	
	</td>
	
</tr>